<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <span class="displayText">Syncfusion Blazor Samples</span>
            </NavLink>
        </li>
    </ul>
 <div class="separator"></div>
    <div class="scroller">
       <!--ul class="nav flex-column">
       			<li class="nav-item px-3">
 	<NavLink class="nav-link" href="datagrid-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-datagrid" aria-hidden="true"></span><span class="displayText">DataGrid</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="pivottable-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-pivottable" aria-hidden="true"></span><span class="displayText">Pivot Table</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="treegrid-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-treegrid" aria-hidden="true"></span><span class="displayText">Tree Grid</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="charts-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-charts" aria-hidden="true"></span><span class="displayText">Charts</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="stockchart-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-stockchart" aria-hidden="true"></span><span class="displayText">Stock Chart</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="circulargauge-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-circulargauge" aria-hidden="true"></span><span class="displayText">Circular Gauge</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="diagram-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-diagram" aria-hidden="true"></span><span class="displayText">Diagram</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="heatmapchart-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-heatmapchart" aria-hidden="true"></span><span class="displayText">HeatMap Chart</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="lineargauge-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-lineargauge" aria-hidden="true"></span><span class="displayText">Linear Gauge</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="maps-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-maps" aria-hidden="true"></span><span class="displayText">Maps</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="rangeselector-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-rangeselector" aria-hidden="true"></span><span class="displayText">Range Selector</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="smithchart-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-smithchart" aria-hidden="true"></span><span class="displayText">Smith Chart</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="barcodegenerator-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-barcodegenerator" aria-hidden="true"></span><span class="displayText">Barcode Generator</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="sparklinecharts-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-sparklinecharts" aria-hidden="true"></span><span class="displayText">Sparkline Charts</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="treemap-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-treemap" aria-hidden="true"></span><span class="displayText">TreeMap</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="bulletchart-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-bulletchart" aria-hidden="true"></span><span class="displayText">Bullet Chart</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="kanban-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-kanban" aria-hidden="true"></span><span class="displayText">Kanban</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="progressbar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-progressbar" aria-hidden="true"></span><span class="displayText">ProgressBar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="pdfviewer-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-pdfviewer" aria-hidden="true"></span><span class="displayText">PDF Viewer</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="pdfviewer2-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-pdfviewer" aria-hidden="true"></span><span class="displayText">PDF Viewer 2</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="imageeditor-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-imageeditor" aria-hidden="true"></span><span class="displayText">Image Editor</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="richtexteditor-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-richtexteditor" aria-hidden="true"></span><span class="displayText">Rich Text Editor</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="wordprocessor-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-wordprocessor" aria-hidden="true"></span><span class="displayText">Word Processor</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="inplaceeditor-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-inplaceeditor" aria-hidden="true"></span><span class="displayText">In-place Editor</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="speeddial-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-speeddial" aria-hidden="true"></span><span class="displayText">Speed Dial</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="scheduler-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-scheduler" aria-hidden="true"></span><span class="displayText">Scheduler</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="calendar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-calendar" aria-hidden="true"></span><span class="displayText">Calendar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="datepicker-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-datepicker" aria-hidden="true"></span><span class="displayText">DatePicker</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="daterangepicker-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-daterangepicker" aria-hidden="true"></span><span class="displayText">DateRangePicker</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="datetimepicker-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-datetimepicker" aria-hidden="true"></span><span class="displayText">DateTime Picker</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="timepicker-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-timepicker" aria-hidden="true"></span><span class="displayText">TimePicker</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="ganttchart-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-ganttchart" aria-hidden="true"></span><span class="displayText">Gantt Chart</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="mention-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-mention" aria-hidden="true"></span><span class="displayText">Mention</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="autocomplete-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-autocomplete" aria-hidden="true"></span><span class="displayText">AutoComplete</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="combobox-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-combobox" aria-hidden="true"></span><span class="displayText">ComboBox</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="dropdownlist-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-dropdownlist" aria-hidden="true"></span><span class="displayText">Dropdown List</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="multiselectdropdown-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-multiselectdropdown" aria-hidden="true"></span><span class="displayText">MultiSelect Dropdown</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="listbox-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-listbox" aria-hidden="true"></span><span class="displayText">ListBox</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="dialog-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-dialog" aria-hidden="true"></span><span class="displayText">Dialog</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="listview-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-listview" aria-hidden="true"></span><span class="displayText">ListView</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="mediaquery-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-mediaquery" aria-hidden="true"></span><span class="displayText">Media Query</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="tooltip-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-tooltip" aria-hidden="true"></span><span class="displayText">Tooltip</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="splitter-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-splitter" aria-hidden="true"></span><span class="displayText">Splitter</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="dashboardlayout-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-dashboardlayout" aria-hidden="true"></span><span class="displayText">Dashboard Layout</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="card-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-card" aria-hidden="true"></span><span class="displayText">Card</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="textbox-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-textbox" aria-hidden="true"></span><span class="displayText">TextBox</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="inputmask-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-inputmask" aria-hidden="true"></span><span class="displayText">Input Mask</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="numerictextbox-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-numerictextbox" aria-hidden="true"></span><span class="displayText">Numeric TextBox</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="rating-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-rating" aria-hidden="true"></span><span class="displayText">Rating</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="radiobutton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-radiobutton" aria-hidden="true"></span><span class="displayText">Radio Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="checkbox-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-checkbox" aria-hidden="true"></span><span class="displayText">Checkbox</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="colorpicker-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-colorpicker" aria-hidden="true"></span><span class="displayText">Color Picker</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="colorpalette-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-colorpalette" aria-hidden="true"></span><span class="displayText">Color Palette</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="fileupload-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-fileupload" aria-hidden="true"></span><span class="displayText">File Upload</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="rangeslider-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-rangeslider" aria-hidden="true"></span><span class="displayText">Range Slider</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="toggleswitchbutton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-toggleswitchbutton" aria-hidden="true"></span><span class="displayText">Toggle Switch Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="signature-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-signature" aria-hidden="true"></span><span class="displayText">Signature</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="accordion-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-accordion" aria-hidden="true"></span><span class="displayText">Accordion</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="appbar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-appbar" aria-hidden="true"></span><span class="displayText">AppBar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="contextmenu-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-contextmenu" aria-hidden="true"></span><span class="displayText">Context Menu</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="menubar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-menubar" aria-hidden="true"></span><span class="displayText">Menu Bar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="sidebar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-sidebar" aria-hidden="true"></span><span class="displayText">Sidebar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="tabs-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-tabs" aria-hidden="true"></span><span class="displayText">Tabs</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="toolbar-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-toolbar" aria-hidden="true"></span><span class="displayText">Toolbar</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="treeview-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-treeview" aria-hidden="true"></span><span class="displayText">TreeView</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="filemanager-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-filemanager" aria-hidden="true"></span><span class="displayText">File Manager</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="carousel-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-carousel" aria-hidden="true"></span><span class="displayText">Carousel</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="breadcrumb-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-breadcrumb" aria-hidden="true"></span><span class="displayText">Breadcrumb</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="button-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-button" aria-hidden="true"></span><span class="displayText">Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="buttongroup-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-buttongroup" aria-hidden="true"></span><span class="displayText">Button Group</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="dropdownmenu-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-dropdownmenu" aria-hidden="true"></span><span class="displayText">Dropdown Menu</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="floatingactionbutton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-floatingactionbutton" aria-hidden="true"></span><span class="displayText">Floating Action Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="progressbutton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-progressbutton" aria-hidden="true"></span><span class="displayText">Progress Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="splitbutton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-splitbutton" aria-hidden="true"></span><span class="displayText">Split Button</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="chips-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-chips" aria-hidden="true"></span><span class="displayText">Chips</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="message-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-message" aria-hidden="true"></span><span class="displayText">Message</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="toast-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-toast" aria-hidden="true"></span><span class="displayText">Toast</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="spinner-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-spinner" aria-hidden="true"></span><span class="displayText">Spinner</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="skeleton-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-skeleton" aria-hidden="true"></span><span class="displayText">Skeleton</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="querybuilder-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-querybuilder" aria-hidden="true"></span><span class="displayText">Query Builder</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="excel-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-excel" aria-hidden="true"></span><span class="displayText">Excel</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="pdf-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-pdf" aria-hidden="true"></span><span class="displayText">PDF</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="word-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-word" aria-hidden="true"></span><span class="displayText">Word</span>
 	</NavLink>
 	</li>
	<li class="nav-item px-3">
 	<NavLink class="nav-link" href="powerpoint-features">
 	<span class="syncfusion-blazor-icons syncfusion-blazor-icon-powerpoint" aria-hidden="true"></span><span class="displayText">PowerPoint</span>
 	</NavLink>
 	</li>

       </ul-->
    </div>
</div>
<style>
 .scroller {
         height: calc(100vh - 160px) !important;
         overflow-y: auto;
         width: 287px;
     }

         .scroller::-webkit-scrollbar, scrollbar-thumb
         .scroller::-webkit-scrollbar-thumb {
             width: 8px;
             height: 110px;
             border-radius: 4px;
             position: center;
         }

         .scroller::-webkit-scrollbar-thumb {
             box-shadow: inset 0 0 0 10px #313C75;
             border-radius: 4px;
         }

         .scroller::-webkit-scrollbar-track {
             width: 28px;
         }
     .separator {
         border: 1px solid #FFFFFF;
         opacity: 0.14;
         width: 247px;
         margin: 1rem;
         margin-top: 0px;
     }
</style>

